.display {
  float: left;
  font-size: larger;
}

.element {
  margin: 50px 0;
}

.element:hover {
  cursor: pointer;
}

.elementImage {
  float: right;
  background-image: url('./../assets/asteroid.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.elementText {
  display: inline;
  margin-right: 450px;
}

.hazardous {
  color: rgb(252,61,33);
  font-weight: normal;
}
