.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 1;
}

.modal-main {
  position:fixed;
  background: black;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px 10px;
}

.close {
  position: fixed;
  background-image: url('./../assets/x.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.close:hover {
  cursor: pointer;
}

.earth {
  position: fixed;
  top: 22%;
  left: 33%;
  background-image: url('./../assets/cloudyearth.png');
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.info {
  color: white;
}

.asteroid {
  position: fixed;
  top: 25%;
  left: 24%;
  background-image: url('./../assets/asteroid.png');
  background-size: 15%;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  animation: spin 4s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.display-block {
  display: block;
}

.display-none {
  display: none;
}
