.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  z-index: 1;
}

.modal-main {
  position:fixed;
  background: black;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 4px solid rgb(252,61,33);
  border-radius: 25px;
  padding: 10px 10px;
}

.earth {
  position: fixed;
  top: 11%;
  background-image: url('./../assets/cloudyearth.png');
  background-size: 40%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.asteroid {
  position: fixed;
  top: 45%;
  left: 80%;
  background-image: url('./../assets/asteroid.png');
  background-size: 5%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
